@import "variaveis.scss";

.container_header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: $azul_escuro_do_depoimentos;
    padding: 1% 0;

    #card_nav_bar{
        
        a{
            margin-left: 1rem;
            text-decoration: none;
            color: $gray;
            font: 400 14px 'Open Sans', sans-serif;
        }
    }
}

//colocarei o main da parte de informação aqui para facilitar a manutenção no topo pois o header foi bem simples

.container_intro{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url("../images/bg-curvy-desktop.svg") bottom no-repeat;
    padding-bottom: 10%;
    background-color: $azul_escuro_do_depoimentos;

    .card_intro_img{
        img{
            margin-top: 4%;
            margin-bottom: 4%;
        }
    }
    .card_conteudo{
        width: 50%;
        text-align: center;
        color: $white;

        h1{
            font: 700 30px 'Barlow', sans-serif;
            width: 72%;
            margin: 0 auto;
            
        }
        p{
            margin: 20px auto;
            width: 65%;
            font: 400 14px 'Open Sans', sans-serif;
            line-height: 22px;
        }
    }
    //fechamento dos efeitos em card conteudo

    //abrindo card link do couteudo
    .card_conteudo_link{
        margin: 20px auto;

        a{
            background: $blue;
            padding: 10px 60px;
            border-radius: 20px;
            color: $white;
            text-decoration: none;
            font: 400 14px 'Open Sans', sans-serif;

            &:hover{
                background: $cian;
            }
        }
    }
    //fechamento da class card link
}
#btn_menu{
    display: none;
}

.hidden{
    display: none;
}
@media(max-width: 800px){

    //fazendo nav menu do responsivo mobile

    .container_header{
        display: block;
        //ajustando a img com o menu    
        .card_logo_header{
            display: flex;
            align-items: center;
            justify-content: space-around;

            //menu estilizando o menu
            .menu{
                #btn_menu{
                    display: inline;
                    background: none;
                    border: none;
                }
            }
        }
        //alinhando o nav no centro da tela em screen mobile
        #card_nav_bar{
            display: flex;
            align-items: center;
            justify-content: center;

            //deslocando o nav com absolute e ajustando tamanho
            nav{
                position: absolute;
                top: 80px;
                background: black;
                width: 80%;
                padding: 5% 0;
                border-radius: 10px;
                box-shadow: 4px 4px 10px $gray_shadow;

                //dando efeitos nos links
                a{
                display: block;
                padding: 1rem;
                text-align: center;
                margin: 0;
                color: $gray;

                &:hover{
                    background: $gray;
                    color: $white;
                }

                }
            }
            
        }
    }

    //responsivo da sessao intro
    .container_intro{
        .card_intro_img{
            img{
                width: 90%;
            }
        }
        .card_conteudo{
            width: 100%;

            h1{
                font: 700 24px 'Barlow', sans-serif;
                width: 89%;
                margin: 0 auto;
                
            }
            p{
                width: 90%;
            }
        }
    }
}